.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  text-align: center;
  font-size: 20px;
  background: #ff9500;
  height: 5vmin;
  width: 40vmin;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  cursor: pointer;
}
