@font-face {
  font-family: 'sf_pro_displayheavy';
  src: url('assets/fonts/sfprodisplay-heavy-webfont.eot');
  src: url('assets/fonts/sfprodisplay-heavy-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/sfprodisplay-heavy-webfont.woff2') format('woff2'),
    url('assets/fonts/sfprodisplay-heavy-webfont.woff') format('woff'),
    url('assets/fonts/sfprodisplay-heavy-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_pro_displayregular';
  src: url('assets/fonts/sfprodisplay-regular-webfont.eot');
  src: url('assets/fonts/sfprodisplay-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/sfprodisplay-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/sfprodisplay-regular-webfont.woff') format('woff'),
    url('assets/fonts/sfprodisplay-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Titile {
  margin-top: 200px;
}

.Logo {
  position: relative;
  z-index: 2;
  font-family: 'sf_pro_displayheavy';
  color: white;
  display: inline;
}
.LogoSize {
  font-size: 100px;
}
.Logo-2 {
  position: relative;
  z-index: 2;
  display: inline;
  color: #ffbe17;
  font-family: 'sf_pro_displayheavy';
}
.Adminp {
  position: relative;
  z-index: 2;
  font-family: 'sf_pro_displayheavy';
  color: white;
  font-size: 40px;
  display: inline;
}
.Adminp2 {
  position: relative;
  z-index: 2;
  display: inline;
  font-size: 40px;
  color: #ffbe17;
  font-family: 'sf_pro_displayheavy';
}

.SubLogo {
  position: relative;
  z-index: 2;
  font-family: 'sf_pro_displayregular';
  display: inline;
  color: white;
  font-size: 80px;
}

.SubLogo2 {
  position: relative;
  z-index: 2;
  font-family: 'sf_pro_displayregular';
  color: white;
  font-size: 80px;
  margin-bottom: 200px;
}

.Login {
  justify-content: center;
  background-color: #2f3536;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  align-items: center;
  text-align: center;
}

.Login-button {
  font-family: 'sf_pro_displayregular';
  position: absolute;
  z-index: 2;
  bottom: 190px;
  font-size: 20px;
  background: #ff9500;
  height: 50px;
  width: 400px;
  margin-left: -200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  cursor: pointer;
  border-color: transparent;
}
.Login-button:hover {
  background: #f56f02;
}

.Facebook-button {
  font-family: 'sf_pro_displayregular';
  position: absolute;
  z-index: 2;
  bottom: 120px;
  text-align: center;
  font-size: 20px;
  background: #3b5998;
  height: 50px;
  width: 400px;
  margin-left: -200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border-color: transparent;
  cursor: pointer;
}
.Facebook-button:hover {
  background: #033399;
}

.Ellipse {
  position: absolute;
  width: 481px;
  height: 481px;
  left: -98.5px;
  top: 601px;
  border-radius: 50%;
  background: #ff9500;
  clip-path: circle(75%);
  transition: clip-path 1s;
}
.Ellipse:hover {
  clip-path: circle(25%);
}

.Rectangle {
  position: absolute;
  width: 335px;
  height: 400px;
  bottom: 120px;
  right: -90px;
  background: #77fe0e;
  clip-path: circle(75%);
  transition: clip-path 1s;
}

.Rectangle:hover {
  clip-path: circle(25%);
}

.Polygon {
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 250px solid #125fd6;
  transform: rotate(0deg);
  top: 150px;
  right: 470px;
}

.Polygon-shadow {
  position: absolute;
  border-left: 0px solid transparent;
  border-right: 200px solid transparent;
  border-top: 250px solid #02388b;
  transform: rotate(0deg);
  top: 150px;
  right: 470px;
}
