.Background .Side .Side-Account h1 {
  z-index: 2;
  font-family: 'sf_pro_displayregular';
  color: white;
  font-size: 22px;
  display: inline;
  margin-left: 10px;
}

.Background .Side .Categories .Titile-menu {
  z-index: 1;
  font-family: 'sf_pro_displayregular';
  color: #9f9fa8;
  font-size: 27px;
  margin-left: 10px;
}

.Categories .Titile-submenu {
  z-index: 1;
  font-family: 'sf_pro_displayheavy';
  color: #9f9fa8;
  line-height: 160%;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.Background {
  height: 100vh;

  background: #2f3536;
  position: relative;
  overflow: hidden;
}

.Background .Status {
  position: absolute;
  height: 120px;
  width: 320px;
  top: 0%;
  background: rgba(33, 33, 33, 0.72);
}

.Background .Nav {
  position: absolute;
  height: 100px;
  width: 1000vh;
  bottom: 0%;
  z-index: 3;
  background: #252727;
}

.Background .Divider {
  position: absolute;
  width: 0.5px;
  height: 100vh;
  top: 0%;
  left: 320px;
  bottom: 0%;
  background: #8e8e93;
}

.Background .Side {
  position: relative;
  top: 120px;
}

.Side-Account {
  position: relative;
  top: 90px;
  left: 10px;
}

.SideSearch {
  position: absolute;
  top: 0px;
  left: 150px;
}

.FixedHeightContainer {
  position: absolute;
  top: 170px;
  float: right;
  width: 320px;
}

.Categories {
  height: 45vh;
  overflow: auto;
}

.FixedHeightScrollContainer {
  position: absolute;
  top: 150px;
  left: 350px;
  float: right;
  width: 80%;
  z-index: 0;
}

.Scroll {
  height: 100vh;
  overflow-y: auto;
}
