.Player {
  margin: 15px 0;
  /* background-color: #052b52; */
  width: 100%;
  height: 50px;
  position: relative;
}

.Control {
  size: 30px;
}

.Control > a {
  text-decoration: none;
  height: 50px;
  /* width: 50px; */
  box-sizing: border-box;
  text-align: center;
  padding: 15px 10px;
  float: left;
  color: white;
}

.Control > a:hover {
  background-color: #084380;
  color: #b3b3b3;
}

.Progress {
  position: absolute;
  left: 95px;
  top: 15px;
  right: 100px;
  bottom: 15px;
  background: black;
}

.Progress > .Bar {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.Progress > .Bar > div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: white;
}
